<%- include('partials/header') %>

<body>

    <div class="scroll">
      <h1 class="white-text">A new way to learn<br> AR-Aprender</h1>
    </div>
  
    <div id="about" class="section md-padding"></div>
    <!-- Container -->
    <div class="container">
  
      <!-- Row -->
      <div class="row">
  
        <!-- Section header -->
        <div class="section-header text-center">
          <h2 class="title">Welcome to Learnify</h2>
        </div>
        <!-- /Section header -->

        <div class="about">
          <i class="fa fa-magic"></i>
          <h3>How to use ?</h3>
          <h3 text-align: left;>
              <li>Download barcode</li>
              <li>Make sure barcode have white border</li>
              <li>open any class and show the marker</li>
              <li>we had a book in that every marker is placed according to class<br><b>BUY IT</b> </li>
            
          </h3>
        </div>
        <div class="about">
          <i class="fa fa-download"></i><br>
          <a href="/3x3/ok.zip" download ><button>Download</button></a>
        </div>


        <!-- about -->
        <div class="col-md-4">
          <div class="about">
            <i class="fa fa-cogs"></i>
            <h3>For Every Class</h3>
            <p></p>
          </div>
        </div>
        <!-- /about -->
  
        <!-- about -->
        <div class="col-md-4">
          <div class="about">
            <i class="fa fa-magic"></i>
            <h3>Awesome Features</h3>
            <p></p>
          </div>
        </div>
        <!-- /about -->
  
        <!-- about -->
        <div class="col-md-4">
          <div class="about">
            <i class="fa fa-mobile"></i>
            <h3>360 view</h3>
            <p></p>
          </div>
        </div>
        <!-- /about -->
 
      </div>
      <!-- /Row -->
  
    </div>
    <!-- /Container -->
    </div>
  
    <div id="categories" class="container">
      <div class="row" style="margin:10px ;">
        <div class="col-sm-6">
          <a href="/alpha">
            <div class="card">
  
              <img src="/img/ABC.png" style="height:50vh;" alt="image loading">
            </div>
          </a>
        </div>
        <div class="col-sm-6">
          <a href="/chem">
            <div class="card">
  
              <img src="/img/che.jpg" style="height:50vh;" alt="image loading">
  
            </div>
          </a>
        </div>
      </div>
      <div class="row" style="margin:10px ;">
        <div class="col-sm-6">
          <a href="/bio">
            <div class="card">
  
              <img src="/img/bio.jpg" style="height:50vh;" alt="image loading">
  
            </div>
          </a>
        </div>
        <div class="col-sm-6">
          <a href="/math">
            <div class="card">
  
              <img src="/img/math.jpg" style="height:50vh;" alt="image loading">
  
            </div>
          </a>
        </div>
      </div>
    </div>
  
  </body>

  <%- include('partials/footer') %>